.imageItem {
    width: 300px;
    border-radius: 20px;

}

.button {
    padding: 15px;
    
    background-color:  #ff9900;
}

p {
    margin: 0px;
}

.ctaLink {
    text-decoration: none;
    color:black
}

.ctaMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 575.98px) {

    .ctaMainDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
/* .container {
    margin-top: ;
} */


@media (max-width: 991px) {

    .ctaMainDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}