.highlight {
    height: 165px;
    width: 300px;
    
}

/* .container {
    
} */
.highlightContainer{
    height:fit-content ;
    border-radius: 15px;
    /* background-color: blue; */
}

.highlightHeader {
    color: #6244C5;
}

@media (max-width:575.98px) {

    /* .highlightCarousel {
        max-height: 250px;
    } */

    /* .highlightContainer{
        height: 400vh;
    } */

    .highlightDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 10%; */
    }

    
}


@media (max-width:991px) {

    /* .highlightCarousel {
        max-height: 250px;
    } */

    /* .highlightContainer{
        height: 400vh;
    } */

    .highlightDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 10%; */
    }

    
}
