.book-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: none;

  }
  
  .book-image {
    object-fit: cover;
    height: 250px;
    width: 100%;
  }
  
  .new-price {
    color: #ff9900;
    font-weight: bold;
  }
  
  .book-container {
    display: flex;
    flex-wrap: wrap; /* Ensures books wrap to new rows on smaller screens */
  }
  
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .linkClass {
    color: white;
   
    text-decoration: none;
  }

  .shopContainer {
    height: 140vh;
  }

  /* .button {
    background-color: #ff9900;
  } */
  