.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    gap: 20px;
  }
  
  .book-card {
    border: none;
    text-align: center;
  }
  
  .book-image {
    /* width: 200px; */
    height: 200px;
    object-fit: cover;
  }
  
  .new-price {
    color: #ff0000;
    font-weight: bold;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #888;
  }
  
  .book-card .card-body {
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .book-grid {
      grid-template-columns: 1fr;
    }
  }
  