.nav-link:hover {
  
    background-color: #ff9900; 
    border-radius: 20px;
    padding: 10px 20px !important;
    /* padding: 12px 22px; */
    

}

/* 
for positioning the brands */
.brandText {
    margin: 0px;
    padding: 0px;

}

.active-link {
    background-color:  #ff9900; /* Change this color to highlight active link */
    border-radius: 20px;
    padding: 10px 20px !important;
    color: black;
}

/* .main-nav {
    padding:25px;
} */

.nav-link {
    color: white;
    margin-right: 2rem;
    padding: 10px 20px !important;
    border-radius:20px ;
  
}
.navDropdown .dropdown-menu {
    background-color: pink; /* drop down background color*/
}

.navDropdown .dropdown-item {
    color: black; /* Change text color if needed */
}
/* .navDropdown .dropdown-item:hover {
    background-color: #ff9900; /* Change this color for hover effect */

