.custom-carousel-icon {
    color:  black;
    font-size: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent !important;
}

#text1, #text2, #text3 {
    font-family: Ample Display, sans-serif 
}  