.bookAd {
    margin-top: 60px;
}

.bookLink {
    text-decoration: none;
    color: black;
}
.book_button {
    background-color: #ff9900;
    border:0px;
}

#text1, #text2, #text3, #text4 {
    font-family: Ample Display, sans-serif;
}