
#text1, #text2, #text3 {
    font-family: Ample Display, sans-serif;
}

.blog_link {
    text-decoration: none;
    color: black;
}

.blogContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}