.button {
   
   border: 0px !important
}

@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); /* Zoom in */
    }
    100% {
      transform: scale(1); /* Zoom out */
    }
}
.videoSvg {
    cursor: pointer;
    /* animation: zoom 1.5s infinite; */
    /* transform: transform 0.5 ease; */
    animation: zoomInOut 1.5s infinite ease-in-out;

}