.sideDiv {
    border: 1px solid black;
    border-radius: 15px;

    /* background-color:  #f1bb69; */
    background-color: #6244C5;
    
    


   
    /* width:300px */
}

.subTexts {
    font-family: Ample Display, sans-serif;
    color: white;
}

.contactLink {
    text-decoration: none;
    color: white;
}

.contactContainer {
    height: fit-content;
}