.button {
    border: 1px solid black;
    border-radius: 20px;
  
    padding: 10px;
    background-color:  #ff9900 !important
    
}

/* .button:hover {
    background-color: #ff9900;
} */

.aboutContainer {
    /* height: fit-content; */
    margin-bottom: 40px;
}

#linkClass {
    text-decoration: none;
    color:black
}

#about_text1 {
    font-family: Ample Display, sans-serif;
}

.imageColumn{
    margin-bottom: 20px;
}

