.button {
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    background-color: rgb(192, 187, 187);
    padding: 10px;
    background-color: pink;
    
}
.button:hover {
    background-color: #ff9900;
}